<h1 class="album-title"><%= name; %></h1>

<% if (!isRoot){ %>
    <nav class="breadcrumb">
        <% for (var i = 0; i < breadcrumb.length; i++) { %>
            <% if (i === breadcrumb.length - 1){ %>
                <span><%= breadcrumb[i].name; %></span>
            <% }else{ %>
                <a href="/<%= breadcrumb[i].url; %>"> <%= breadcrumb[i].name; %></a><span> &raquo; </span>
            <% } %>
        <% } %>
    </nav>
<% } %>

<% if (albums.length > 0){ %>
    <h2>Albums</h2>
    <ul class="albums">
        <%
        albums.forEach(function(album){
            var albumURL = album.url.replace(/#/g, '%23');
        %>
        <li class="thumb">
            <a href="/<%= albumURL; %>">
                <figure>
                    <img src="/<%= albumURL; %>?tn=1" alt="<%= album.name; %>" />
                    <figcaption><%= album.name; %></figcaption>
                </figure>
            </a>
        </li>
        <% }); %>
    </ul>
<% } %>

<% if (photos.length > 0){ %>
    <h2>Photos</h2>
    <ul class="photos">
        <% photos.forEach(function(photo){ %>
            <li class="thumb">
                <a href="/<%= photo.url; %>">
                    <figure>
                        <img src="/<%= photo.src; %>?tn=1" alt="<%= photo.name; %>" />
                        <figcaption><%= photo.friendlyName; %></figcaption>
                    </figure>
                </a>
            </li>
        <% }); %>
    </ul>
<% } %>


<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }

    h1, h2 {
        font-weight: 600;
        clear: both;
    }

    h2, a {
        color: #666;
        text-decoration: none;
    }

    nav.breadcrumb {
        margin: 20px auto;
    }

    nav.breadcrumb a {
        text-decoration: underline;
    }

    ul li.thumb img {
        max-width: 150px;
        max-height: 150px;
    }

    ul li.thumb figure {
        width: 150px;
        height: 150px;
        padding: 0 0 10px 0;
        margin: 0;
    }

    ul li.thumb {
        text-align: center;
        list-style: none;
        float: left;
        width: 150px;
        min-height: 190px;
        height: 190px;
        margin: 10px;
        padding: 6px;
        border: 1px solid #ccc;
    }

    figure.photo {
        margin: 0;
    }

    figure.photo img {
        position: relative;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
</style>
