<h1 class="photo-title"><%= friendlyName; %></h1>

<nav class="breadcrumb">
    <% for (var i = 0; i < breadcrumb.length; i++) { %>
        <% if (i === breadcrumb.length - 1){ %>
            <span><%= breadcrumb[i].name; %></span>
        <% }else{ %>
            <a href="/<%= breadcrumb[i].url; %>"> <%= breadcrumb[i].name; %></a><span> &raquo; </span>
        <% } %>
    <% } %>
</nav>

<nav class="album-nav">
<% if (prevFile) { %>
    <a href="./<%= prevFile %>">Previous Photo</a>
<% } %>

<% if (nextFile) { %>
    <a href="./<%= nextFile %>">Next Photo</a>
<% } %>
</nav>

<figure class="photo">
    <img src="/<%= src; %>" alt="<%= fileName; %>">
    <figcaption>
        <% if (exif && exif.Description){ %>
            <%= exif.Description; %>
        <% }else{ %>
            <%= fileName; %>
        <% } %>
    </figcaption>
</figure>

<% if (exif){ %>
    <section class="info">
        <h2>Info</h2>
        <table>
            <tr>
                <td>
                    File Name
                </td>
                <td>
                    <%= fileName; %>
                </td>
            </tr>
            <% for (var key in exif){ %>
                <% if (key !== 'Description'){ %>
                    <tr>
                        <td>
                            <%= key; %>
                        </td>
                        <td>
                            <%= exif[key]; %>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </section>
<% } %>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }

    h1, h2 {
        font-weight: 600;
        clear: both;
    }

    h2, a {
        color: #666;
        text-decoration: none;
    }

    nav.breadcrumb {
        margin: 20px auto;
    }

    nav.breadcrumb a {
        text-decoration: underline;
    }

    ul li.thumb img {
        max-width: 150px;
        max-height: 150px;
    }

    ul li.thumb figure {
        width: 150px;
        height: 150px;
        padding: 0 0 10px 0;
        margin: 0;
    }

    ul li.thumb {
        text-align: center;
        list-style: none;
        float: left;
        width: 150px;
        min-height: 190px;
        height: 190px;
        margin: 10px;
        padding: 6px;
        border: 1px solid #ccc;
    }

    figure.photo {
        margin: 0;
    }

    figure.photo img {
        position: relative;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
</style>
