<h1 class="photo-title"><%= friendlyName; %></h1>

<nav class="breadcrumb">
    <% for (var i = 0; i < breadcrumb.length; i++) { %>
        <% if (i === breadcrumb.length - 1){ %>
            <%= breadcrumb[i].name; %>
        <% }else{ %>
            <a href="/<%= breadcrumb[i].url; %>"> <%= breadcrumb[i].name; %></a><span> &raquo; </span>
        <% } %>
    <% } %>
</nav>

<figure class="photo">
    <img src="/<%= src; %>" alt="<%= fileName; %>">
    <figcaption>
        <% if (exif && exif.Description){ %>
            <%= exif.Description; %>
        <% }else{ %>
            <%= fileName; %>
        <% } %>
    </figcaption>
</figure>

<% if (exif){ %>
    <section class="info">
        <h2>Info</h2>
        <table>
            <tr>
                <td>
                    File Name
                </td>
                <td>
                    <%= fileName; %>
                </td>
            </tr>
            <% for (var key in exif){ %>
                <% if (key !== 'Description'){ %>
                    <tr>
                        <td>
                            <%= key; %>
                        </td>
                        <td>
                            <%= exif[key]; %>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </section>
<% } %>
